.layout {
	button {
		text-transform: uppercase;
		font-size: 0.8rem;
		font-weight: 500;
		height: 30px;
		vertical-align: middle;
		border: none;
		background: inherit;
		padding: 0;
		i {
			height: 100%;
			vertical-align: middle;
			line-height: inherit;
		}
	}
}

.dropdown {
	position: absolute;
	left: 0;
	background: inherit;
	width: 100vw;
	padding: 20px;
	z-index: 100;
	background: white;
}
