@import '../../../styles/_global.scss';

/* See also sidebar.module.scss
   and header.module.scss */
.dropdown {

}

.button {
    align-items: center;
}

.label {
	text-transform: uppercase;
	font-size: 0.9rem;
}
