/* Sidebar */
$sidebar-width: 300px;
$sidebar-width-tablet: 250px;
$sidebar-padding: 16px;

/* Search */
$searchbar-height: 35px;
$searchbar-padding: 15px;
$search-container-width: 40vw;
$search-container-maxwidth: 400px;
$icon-size: 0.9rem;
$search-icon-padding: calc(#{$icon-size} / 2 + 3px);

/* Header */
$header-main-height: calc(#{$searchbar-height} + calc(2 * #{$searchbar-padding}));

/* Post */
$main-padding: 15vh;
$main-padding-top: calc(#{$header-main-height} + 40px);
$post-dropdown-height: 2em;
$post-dropdown-top: calc(#{$header-main-height} + #{$post-dropdown-height});

/* CodeExample */
$top-bar-height: 2.5rem;

/* Section */
$header-line-height: 40px;
$header-margin: 1rem;
$right-column-margin-top: calc(#{$header-margin} + #{$header-margin} + #{$header-line-height});

/* Breakpoints */
@mixin for-mobile-only {
	@media (max-width: 52em) { @content; }
}

@mixin for-tablet-up {
	@media (min-width: 52em) { @content; }
}

@mixin for-tablet-under {
	@media (max-width: 62em) { @content; }
}

@mixin for-desktop-up {
	@media (min-width: 62em) { @content; }
}

@mixin for-desktop-under {
	@media (max-width: 82em) { @content; }
}

@mixin for-widescreen-up {
	@media (min-width: 100em) { @content; }
}