$current-group-background: #efefef;

$top-bar-height: 2.5rem;

$sidebar-width: 300px;
$sidebar-padding: 16px;
$sidebar-width-no-padding: calc(#{$sidebar-width} - calc(2 * #{$sidebar-padding}));

$searchbar-height: 35px;
$searchbar-padding: 15px;
$search-container-width: 40vw;
$search-container-maxwidth: 400px;
$input-border-color: #d1d5da;
$input-border-color-focus: rgba(3,102,214,.3);

$layout-border:  1.5px solid #f0f0f2;
$main-padding: 15vh;

$header-main-height: calc(#{$searchbar-height} + calc(2 * #{$searchbar-padding}));
$main-margin-top: calc(#{$header-main-height} + 40px);
$post-dropdown-height: 2em;
$post-dropdown-top: calc(#{$header-main-height} + #{$post-dropdown-height});
$topic-line-height: 40px;
$article-title-line-height: 40px;
$h2-margin: 1rem;

@mixin for-mobile-only {
	@media (max-width: 45em) { @content; }
}

@mixin for-tablet-up {
	@media (min-width: 45em) { @content; }
}

@mixin for-tablet-under {
	@media (max-width: 62em) { @content; }
}

@mixin for-desktop-up {
	@media (min-width: 62em) { @content; }
}

@mixin for-desktop-under {
	@media (max-width: 82em) { @content; }
}
