$header-height: 40px;
$sidebar-width: 280px;

$topic-line-height: 40px;
$article-title-line-height: 40px;
$h2-margin: 20px;

$layout-border: solid 2px #f0f0f2;
$sidebar-padding: 30px;
$main-padding: 15vh;