.container {
	border-radius: 7px;
	margin: 1.5rem 0;
    min-width: 300px;
	max-width: 700px;
	.top-bar {
		display: flex;
		border-radius: 7px 7px 0 0;
		align-items: center;
		justify-content: space-between;
		height: $top-bar-height;
		opacity: .7;
		h3 {
			margin: 0;
		}
	}
	.util {
		display: flex;
		align-items: center;
		.copy-button {
			padding-left: 0;
			height: 1em;
		}
		.copy-button,
		.select {
			background: transparent;
			border: none;
			cursor: pointer;
		}
		.divider {
			border-left: 1px solid;
			height: 1em;
			opacity: .3;
			margin: 0 0.5em;
		}
	}
}

.title {
	font-size: 0.8rem;
	font-weight: 500;
	padding-left: 15px;
}

.label,
.select {
	font-size: 1em;
}

.select-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	.select {
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		 -o-appearance: none;
			appearance: none;
		width: 7em;
		text-align: right;
		padding-right: 1em;
	}
	.select-arrow {
	  	position: absolute;
	  	right: 0;
	  	pointer-events: none;
	}
}
