html,
body {
	height: initial;
	font-size: 16px;
}

.wrapper {
	position: relative;
	z-index: 1;
}

.main {
	margin-left: $sidebar-width;
}

ul ul li {
	padding-left: 2em;
	li {
	  	padding-left: 1em;
	}
}

@media (max-width: 992px) {
	.wrapper {
		flex-direction: column;
	}
}

::-webkit-scrollbar {
	height: 7px;
    width: 7px;
}
 
::-webkit-scrollbar-track {
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #878fa1;
}

::-webkit-scrollbar-corner {
	background: transparent;
}