.main {
	position: relative;
	z-index: 1;
	padding: 0 $main-padding;
	padding-top: $main-margin-top;
	@include for-desktop-under {
		margin-left: $sidebar-width-tablet;
		max-width: calc(100vw - #{$sidebar-width-tablet});
	}
	@include for-mobile-only {
		margin-left: 0;
		max-width: 100vw;
	}
	@include for-desktop-up {
		margin-left: $sidebar-width;
		max-width: calc(100vw - #{$sidebar-width});
	}
}

::-webkit-scrollbar {
	height: 7px;
    width: 7px;
}
 
::-webkit-scrollbar-track {
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #878fa1;
}

::-webkit-scrollbar-corner {
	background: transparent;
}