@import '../../../styles/_global.scss';

.sidebar,
.dropdown {
	position: fixed;
	top: $header-main-height;
}

.sidebar {
	@include for-mobile-only {
		display: none;
	}
	@include for-desktop-under {
		width: $sidebar-width-tablet;
	}
	@include for-desktop-up {
		width: $sidebar-width;
	}
	padding: $sidebar-padding;
	.header {
		margin-top: 0;
	}
	.scrollable {
		height: calc(100vh - #{$header-main-height} - calc(2 * #{$sidebar-padding}));
		overflow-y: auto;
		.accordion {		
			:global(.accordion-row) {
				margin: 0;
			}
			:global(.accordion-list) {
				padding-left: 1rem;
			}
		}
		.accordion > :global(.accordion-list) {
			padding-left: 0;
		}
	}
}

.dropdown {
	padding: 0;
	width: 100%;
	z-index: 2;
	@include for-tablet-up {
		display: none;
	}
	.dropdown :global(.dropdown-container) {
		position: absolute;
		right: 0;
		top: $header-main-height;
		width: 100vw;
	}
	.scrollable {
		width: 100%;
		height: calc(100vh - #{$post-dropdown-top} - #{$sidebar-padding});
		overflow-y: auto;
		padding-right: 1.1rem;
		.accordion {
			padding: 0;
			padding-bottom: $sidebar-padding;
			:global(.accordion-row) {
				margin: 0;
			}
		}
	}
	button {
		display: flex;
		position: relative;
		height: $post-dropdown-height;
		justify-content: space-between;
		width: 100%;
		padding: 0 1.1rem;
		font-size: 1.2rem;
		z-index: 201;
	}
}
