@import '../../styles/_global.scss';

.alert {
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 1rem;
	max-width: 750px;
	p:first-of-type {
		margin-top: 0;
	}
	p:last-of-type {
		margin-bottom: 0;
	}
}