$example-margin-top: calc(#{$h2-margin} + #{$h2-margin} + #{$topic-line-height});

.section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2.5rem;
	h2  {
		margin: $h2-margin 0;
		line-height: $topic-line-height;
	}
	.left-column {
	    flex: 50%;
		align-self: flex-start;
		padding-right: calc(#{$main-padding} / 2);
	}
	.right-column {
	    flex: 50%;
	    max-width: 50%;
		position: -webkit-sticky;
		position: sticky;
		align-self: flex-start;
		top: 0;
		padding-top: $example-margin-top;
	}
}
