@import '../../styles/_global.scss';

.oneColumn,
.twoColumns {
	display: flex;
	margin-bottom: 2.5rem;
	h2,
	h3,
	h4,
	h5,
	h6  {
		margin: $header-margin 0;
		line-height: $header-line-height;
	}	
}

.oneColumn {
	flex-direction: column;
}

.twoColumns {
	align-items: center;
	justify-content: space-between;
	.no-columns {
		width: 100%; // required for images to render correctly
	}
	.left-column {
	    flex: 50%;
		align-self: flex-start;
		padding-right: calc(#{$main-padding} / 2);
	}
	.right-column {
	    flex: 50%;
	    max-width: 50%;
		position: -webkit-sticky;
		position: sticky;
		align-self: flex-start;
		top: 0;
		padding-top: $right-column-margin-top;
	}
}
