@import '../../styles/_global.scss';

.search-container {
	position: relative;
	z-index: 4;
	.search-form {
		margin-bottom: 0;
		text-align: left;
		.search-group {
			position: relative;
			.search-icon,
			.close-icon {
				position: absolute;
				top: calc(#{$searchbar-padding} + #{$search-icon-padding});
				z-index: 2;
				font-size: $icon-size;
				line-height: $icon-size;
			}
			.search-icon {
				left: $search-icon-padding;
			}
			.close-icon {
				right: $search-icon-padding;
			}
			.search-input {
				-webkit-appearance: none;
				position: relative;
				z-index: 1;
				margin-top: $searchbar-padding;
				padding: $searchbar-padding 2rem;
				height: $searchbar-height;
				min-width: calc(#{$search-container-width} / 2);
				border-radius: 3px;
				outline: none;
			}
			.button {
			    padding: 0;
			    display: flex;
			    align-items: center;
			    justify-content: center;
			}
		}
	}
	.results-container.open {
		display: block;
		border-radius: 3px;
		.search-results.open {
			position: relative;
			z-index: 5;
			max-height: calc(100vh - #{$header-main-height});
			transition: width .3s ease-in-out;
			overflow-y: auto;
			.result-list-item {
				padding: 1em 0.5em;
				font-size: 0.8rem;
			}
			.list {
				padding-left: 0;
			}
			.no-results {
				margin-top: 1rem;
			}
			.result-header,
			.result-excerpt {
				margin: 0;
			}
		}
	}
}

@include for-tablet-up {
	.search-container {
		align-self: flex-start;
		flex: 0 1 auto;
		.search-form {
			.search-group {
				.search-input.expanded {
					position: absolute;
					left: $searchbar-padding;
					width: calc(#{$search-container-width)} - calc(2 * #{$searchbar-padding}));
					max-width: calc(#{$search-container-maxwidth)} - calc(2 * #{$searchbar-padding}));
				}
			}
			.search-group.expanded {
				.search-icon {
					left: calc(#{$search-icon-padding} + #{$searchbar-padding});
				}
				.close-icon {
					right: calc(#{$search-icon-padding} + #{$searchbar-padding});
				}
			}
		}
		.search-results.open {
			width: 100%;
			margin-top: $searchbar-height;
		}
		.results-container {
			padding: $searchbar-padding;
		}
		.results-container.open {
			width: $search-container-width;
			max-width: $search-container-maxwidth;
			min-height: $header-main-height;
		}
	}
	.search-overlay.open {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 3;
		display: block;
		content: " ";
		background: rgba(27,31,35,.15);
	}
}

@include for-mobile-only {
	.search-container {
		.search-input {
			width: 100%;
		}
		.results-container {
			position: absolute;
			width: 100%;
		}
		.results-container.open {
			.search-results.open {
				background: inherit;
				margin-top: 4px;
				height: $header-mobile-scroll-height;
			}
		}
	}
}
