$icon-size: 0.9rem;
$search-icon-padding: calc(#{$icon-size} / 2 + 3px);

.wrapper {
	position: relative;
	z-index: 4;
	.search-form {
		margin-bottom: 0;
		text-align: left;
		.search-group {
			position: relative;
			.search-icon,
			.close-icon {
				position: absolute;
				top: calc(#{$searchbar-padding} + #{$search-icon-padding});
				z-index: 2;
				font-size: $icon-size;
				line-height: $icon-size;
			}
			.search-icon {
				left: $search-icon-padding;
			}
			.close-icon {
				right: $search-icon-padding;
				cursor: pointer;
			}
			.search-input {
				position: relative;
				z-index: 1;
				margin-top: $searchbar-padding;
				padding: $searchbar-padding 2rem;
				height: $searchbar-height;
				min-width: calc(#{$search-container-width} / 2);
			}
		}
	}
	.container.open {
		display: block;
		border-radius: 3px;
		.search-results.open {
			position: relative;
			z-index: 5;
			max-height: 80vh;
			transition: width .3s ease-in-out;
			overflow-y: auto;
			.result-container {
				padding: 1em 0.5em;
			}
			ol {
				padding-left: 0;
			}
			h3,
			p {
				margin: 0;
			}
		}
	}
}

@include for-tablet-up {
	.wrapper {
		align-self: flex-start;
		flex: 0 1 auto;
		.search-form {
			.search-group {
				.search-input.expanded {
					position: absolute;
					left: $searchbar-padding;
					width: calc(#{$search-container-width)} - calc(2 * #{$searchbar-padding}));
					max-width: calc(#{$search-container-maxwidth)} - calc(2 * #{$searchbar-padding}));
				}
			}
			.search-group.expanded {
				.search-icon {
					left: calc(#{$search-icon-padding} + #{$searchbar-padding});
				}
				.close-icon {
					right: calc(#{$search-icon-padding} + #{$searchbar-padding});
				}
			}
		}
		.search-results.open {
			width: 100%;
			margin-top: $searchbar-height;
		}
		.container {
			padding: $searchbar-padding;
		}
		.container.open {
			width: $search-container-width;
			max-width: $search-container-maxwidth;
			min-height: $header-main-height;
		}
	}
	.search-overlay.open {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 3;
		display: block;
		content: " ";
		background: rgba(27,31,35,.15);
	}
}

@include for-mobile-only {
	.search-input {
		width: 100%;
	}
	.container {
		position: absolute;
		width: 100%;
		.search-results.open {
			background: inherit;
			margin-top: 4px;
		}
	}
}
