@import '../../styles/_global.scss';

.container {
	margin: 2rem 0;
	max-height: calc(100vh - #{$header-main-height});
	overflow-y: auto;	
	.title {
	}
}

.property-table {
	list-style: none;
	padding-left: 0;
	.cell {
		padding: 1rem 0;
		&:last-child {
			padding-bottom: 0;
		}
	}
	.top-row {
		display: flex;
		align-items: center;
		.name {
			margin: 0;
			margin-right: 1em;
		}
	}
	.default-value {
		margin-left: 1em;
	}
}