@import '../../styles/_global.scss';

.container {
	margin: 2rem 0;
	max-height: calc(100vh - #{$header-main-height});
	overflow-y: auto;
	.title {
		margin-bottom: 0;
		padding-bottom: 1rem;
	}
}

.property-table {
	padding-left: 0;
	code {
		font-size: 0.9rem;
	}
	.cell {
		padding: 1rem 0;
		&:last-child {
			padding-bottom: 0;
		}
	}
	.top-row {
		display: flex;
		align-items: center;
		margin-bottom: 1em;
		.name {
			border-radius: 4px;
			font-family: 'Monospace';
			font-size: 1rem;
			margin: 0;
			margin-right: 1em;
			padding: 0 1em;
			code {
				background: inherit;
			}
		}
		.type {
			font-weight: bold;
		}
	}
	.info {
		margin-right: 1rem;
		font-weight: bold;
	}
	.description {
		font-size: 1rem;
	}
}