@import '../../../styles/_global.scss';

.footer {
	height: $footer-height;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: $main-padding;
	margin-top: 2em;
	@include for-mobile-only {
		padding: 1rem;
		font-size: 0.8rem;
	}
}
