.button,
.button:active,
.button:focus {
    cursor: pointer;
    padding: 0;
    background: none;
    border: none;
    outline: none;
}

.button i {
    font-size: 2em;
}

.button i[aria-pressed="true"] {
    color: $icon-active-color;
}

.button i[aria-pressed="false"] {
    color: $icon-color;
}