@import '../../../styles/_global.scss';

.main-menu {
	@include for-mobile-only {
		padding-left: 0;
		.list-item {
			display: flex;
			align-items: center;
			height: 3em;
			.link {
				width: 100%;
			}
		}
	}
	@include for-tablet-up {
		display: flex;
		align-items: center;
		margin: 0;
		height: 100%;
		.list-item {
			margin: 0 1em;
		}
	}
}