.accordion {
	margin: 0;
	list-style: none;
	.list-item {
		padding-bottom: 0;
	}
	.link,
	button {
		margin-bottom: 0;
		display: flex;
		justify-content: space-between;
		width: 100%;
		line-height: 1.61;
		button {
			width: auto;
		}
	}
}